.albumContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.subtext{
    color: #d40867;
    font-size: 6em;
    line-height: .6;
    margin: 0;
  
}
.image{
    border-radius: 10px;
}
.title{
    font-size: 3em;
    margin: 0;
    
}
.city{
    color: #047488;
    font-size:3em
;}
@media (max-width: 1052px) {
    .albumContainer{
        grid-template-columns: repeat(1, 1fr);

    }
 
    .subtext{
        font-size: 4em;
        line-height: 1;
        margin-bottom: 40px;
    
    }
  }