.title{
    font-size: 2em;
    margin: 0;
}
.subtext{
    color:  #d40867;
    font-size: 5rem;
    line-height: .7;
    margin: 0 0 40px 0;

}
.RID_container{
    background-color: #d40867;
    color: white;
    padding: 20px;
    margin: 0 0 30px 0;
    word-break: break-all;
    border-radius: 10px;
}
.button{
    background-color: #d40867;
      padding: 20px 40px;
      font-weight: bold;
      color: white;
      border-radius: 10px;
      cursor: pointer;
    
      float: right;
      border: none;
      font-size: 1em;
  
  }
  .button:hover{
    background-color: #fc368c;
  
  }
  .select{
      padding: 20px 17.5vw;
      width: 40vw;
      background-color: #c0c0c0;
      font-weight: bold;
      border-radius: 10px;
      border: none;
      
      text-align: center;
      margin: 20px 0;
  }
  .option{
    font-weight: bold;

    border-radius: 10px;
  
  }
  .option:focus{
    background-color: #fc368c;
}
@media (max-width: 752px) {
  .select {
      width: 100%;
      
  }
  .subtext{
    font-size: 4em;
    line-height: 1;


}
}