.container {
  padding: 30px 5vw;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero{
  background-color: white;
  width: 100%;
  border-radius: 10px;
  height: 400px;
}