
.container {
  padding: 30px 0;
  
 
  height: 100vh;
  width: 100%;
  
}
.home{
  background-color: #ffd7ea;
  background-image: url('../public/background_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-blend-mode:soft-light;
 
}

.container_vertical_center{
  z-index: 1;

  padding: 25% 5vw;
  
}
.button{
  background-color: #d40867;
    padding: 20px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    cursor: pointer;

}
.button:hover{
  background-color: #fc368c;

}
.title{
font-size: 1.5em;
line-height: 0.1;
font-weight:normal;
}
.title_emphasis{
  font-weight: bold;
font-size: 4em;
line-height: 1;
}
.volunteer_text{
  color: #d40867;
}

