.container{
   text-align: center;
   justify-content: center;
   align-content: center;
   
   padding: 30px 5vw;
}
.emphasis{
    color: #d40867;
}
.title{
    font-weight: bold;
    font-size: 3.5em;
}
.subtitle{
    font-weight: normal;
    font-size: 2.5em;
}
.button{
    background-color: #d40867;
    padding: 20px;
    font-weight: bold;
    color: white;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
  
    max-width: 400px;    
}
.buttoncontainer{
    align-content: center;
    justify-content: center;
    display: flex;
}
.reminder{
    color: #575757;
    font-size: 1.3em;
    font-weight: normal;
  }
  @media (max-width: 700px) {
    .title{
        font-weight: bold;
        font-size: 1.5em;
    }
    .subtitle{
        font-weight: normal;
        font-size: 1em;
    }
    .reminder{
        color: #575757;
        font-size: 0.5em;
        font-weight: normal;
      }
  }